.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    padding: 0 29px;
}

.user__interface {
    display: flex;
    align-items: center;
    position: relative;
}

.user__interface-basket-count {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: var(--yellow);
    border-radius: 100%;
    padding: 5px;
    transform: translateX(83px) translateY(-15px);
    align-items: center;
    position: absolute;
}